@{
    ViewData["Title"] = "О разработке";
}

<div class="container-lg">
    <h1 class="text-primary" style="font-family: 'Comfortaa', cursive;">О разработке</h1>
    <h6 class="text-muted" style="font-family: 'Comfortaa', cursive;">Разработчик: Нургатин Марат</h6>

    <p class="text-black mb-3" style="font-family: 'Eco 2', sans-serif;">
        Описание о разработке.
    </p>
</div>
