@{
    ViewData["Title"] = "Главная страница";
}

@if (!User.Identity.IsAuthenticated)
{
    <body class="overflow-auto" style="background-color: #560EAD;">
        <div class="pt-xxl-5 pt-lg-5 pt-5">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="mb-4 text-md-center px-md-4 px-lg-5">
                        <h1 class="display-2 fw-bold text-white lh-sm" style="font-family: 'Comfortaa', cursive;">
                            Начни учиться программировать с <span class="text-warning">ProgPro</span>
                        </h1>
                        <p class="mb-4 lead text-white-50 pe-lg-5">
                            Вы найдёте онлайн задании, чтобы повысить навыки программировании. Выкладывайте ваши решения, а другие ученики и преподаватели поможет вам с решением.
                        </p>
                        <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Register">Начни прямо сейчас!</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
else
{
    <div class="pt-xxl-5 pt-lg-5 pt-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mb-4 text-md-center px-md-4 px-lg-5">
                    <h1 class="display-2 fw-bold text-black lh-sm" style="font-family: 'Comfortaa', cursive">С возращением, @User.Identity.Name</h1>
                </div>
            </div>
        </div>
    </div>
}
