@model WebApp_ProgrammingLang.ViewModels.EditTaskViewModel
@{
    ViewData["Title"] = "Редактировать задание";
}

<div class="pt-md-4 pt-lg-2 pt-2">
    <div class="container-md">
        <div class="row justify-content-md-start">
            <h2 class="h1" style="font-family: 'Comfortaa', cursive;">Редактирование задании</h2>
        </div>

        <div class="row justify-content-md-center">
            <form method="post" enctype="multipart/form-data" asp-controller="Task" asp-action="EditTask" asp-route-id="@ViewBag.ID">
                <input type="hidden" class="form-control" asp-for="FileText" />
                <input type="hidden" class="form-control" asp-for="Filename" />
                <input type="hidden" class="form-control" asp-for="UserID" />
                <input type="hidden" class="form-control" asp-for="PublishDate" />
                <div class="card border-primary border-3">
                    <div class="card-body" style="font-family: 'Eco 2', sans-serif;">
                        <div class="row">
                            <label class="col-form-label col-sm-4">Название</label>
                            <div class="col-sm-12">
                                <input type="text" asp-for="Title" class="form-control" />
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-sm-12">Язык программирование</label>
                            <div class="col-sm-12">
                                <select asp-for="LanguageID" asp-items="ViewBag.Languages" class="form-select"></select>
                                <span class="text-danger" asp-validation-for="LanguageID"></span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-sm-4">Файл с описанием задании</label>
                            <div class="col-sm-12">
                                <input type="file" class="form-control" name="uploadFileText" />
                                <label class="form-label text-muted mb-0">Файлы: .html, .md и т.д.</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-sm-4">Архив с проектом и тестом</label>
                            <div class="col-sm-12">
                                <input type="file" class="form-control" name="uploadFile" />
                                <label class="form-label text-muted mb-0">Архив .zip, .rar, .7z</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Сохранить" />
                        <a class="btn btn-secondary" asp-controller="Mentors" asp-action="Index">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}