@model WebApp_ProgrammingLang.ViewModels.AddBidViewModel

<div class="modal fade" aria-hidden="true" aria-labelledby="modalDialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDialog" style="font-family: 'Comfortaa', cursive;">Заявка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="modal-body">
                        <p class="mb-2" style="font-family: 'Eco 2', sans-serif;">Для отправки заявки, нужно сначало <a asp-area="" asp-controller="Account" asp-action="Login">войти</a> в Систему.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary">ОК</button>
                    </div>
                }
                else
                {
                    <form method="post" asp-controller="User" asp-action="Bid" asp-route-model="@Model">
                        <div class="modal-body">
                            <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()">
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-4">Языки программировании</label>
                                <div class="col-sm-12">
                                    <input type="text" asp-for="Language" class="form-control">
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="Language"></span>
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-4">Расскажите, почему вы хотите стать преподавателем</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control" asp-for="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-save="modal">Отправить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
