@model WebApp_ProgrammingLang.Models.User

<form method="post" asp-controller="User" asp-action="EditInfo" asp-route-id="@Model.Id">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Фамилия</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Surname" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Имя</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Дата рождения</label>
        <div class="col-sm-8">
            <input type="date" asp-for="BirthDate" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">О себе</label>
        <div class="col-sm-8">
            <textarea asp-for="About" class="form-control"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>