@{
    ViewData["Title"] = "Редактирование пользователя";
}
@model WebApp_ProgrammingLang.Models.User

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-2 justify-content-md-center">
            <div class="mb-2 text-md-center">
                @if (Model.UserImage == null)
                {
                    <img src="~/images/avatars/account_avatar.png" class="rounded-circle">
                }
                else
                {
                    <img src="~/images/avatars/users/@Model.UserImage" class="rounded-circle">
                }
                <h5 class="h1" style="font-family: 'Comfortaa', cursive;">@Model.UserName</h5>
            </div>
            <div class="mb-2 text-md-center">
                <nav class="nav flex-column">
                    <a class="btn btn-outline-primary" style="margin: 10px;" asp-area="" asp-controller="User" asp-action="MyProfile" asp-route-userName="@User.Identity.Name">Информация</a>
                    <a class="btn btn-outline-primary" style="margin: 10px;" asp-area="" asp-controller="User" asp-action="Update" asp-route-id="@Model.Id">Редактировать</a>
                    <a class="btn btn-outline-primary" style="margin: 10px;" href="#">Задании</a>
                    <a class="btn btn-outline-danger" style="margin: 10px;" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                </nav>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="pt-md-5 pt-lg-4 pt-2">
            <div class="card border-primary mb-5">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" id="editInfo" asp-area="" asp-controller="User" asp-action="EditInfo" asp-route-id="@Model.Id">Основная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="editImage">Картинка профиля</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" id="cardBody"></div>
            </div>
        </div>
    </div>
</div>