@{
    ViewData["Title"] = "Вход в систему";
}
@model WebApp_ProgrammingLang.ViewModels.LoginViewModel

<body class="overflow-auto" style="background-color: #9F3ED5;">
    <div class="pt-xl-5 pt-lg-2 pt-1">
        <div class="container-md">
            <div class="row justify-content-md-center">
                <div class="card" style="width: 25em">
                    <div class="card-body">
                        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                            <div class="mb-3">
                                <label asp-for="UserName" class="form-label"></label>
                                <input type="text" asp-for="UserName" class="form-control" placeholder="Ваш Имя пользователя" />
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label"></label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="row">
                                <label asp-for="RememberMe" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="checkbox" asp-for="RememberMe" class="form-check" />
                                </div>
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <input type="submit" class="btn btn-primary" value="Войти" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
