@{
    ViewData["Title"] = "Вход в систему";
}

<body class="overflow-auto" style="background-color: #9F3ED5;">
    <div class="pt-xl-5 pt-lg-2 pt-1">
        <div class="container-md">
            <div class="row justify-content-md-center">
                <div class="card" style="width: 25em">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
